<p *ngIf="(state$ | async)?.loading; else ifNotLoading"> CARGANDO DATA...</p>

<ng-template #ifNotLoading>

    <button (click)="crearInscripcion()" type="button" mat-button>Crear Inscripcion</button>
   <ul>
        <li *ngFor="let inscripcion of (state$ | async)?.inscripciones">
            {{ inscripcion.alumno.nombre + ' - ' + inscripcion.materia.nombre}}
            <button (click)="eliminarInscripcionPorId(inscripcion.id)" mat-icon-button color="warn" type="button">
                <mat-icon >delete</mat-icon>
            </button>
        </li>


   </ul>
</ng-template>