<h1 mat-dialog-title>Cursos</h1>
<div mat-dialog-content>
  <form class="grid formgrid" [formGroup]="cursosForm">
    <!-- CONTROL DE NOMBRE -->

    <div class="col-12 field">
      <mat-form-field class="w-full">
        <mat-label>Nombre del curso</mat-label>
        <input [formControl]="nombreControl" type="text" matInput />
        <mat-error *ngFor="let error of nombreControl.errors | keyvalue">{{
          error | controlErrorMessages
        }}</mat-error>
      </mat-form-field>
    </div>

    <!-- CONTROL DE FECHA DE INICIO -->
    <div class="col-6">
      <div>
        <mat-form-field class="w-full">
          <mat-label>Fecha de Inicio</mat-label>
          <input
            [formControl]="fechaInicioControl"
            matInput
            [matDatepicker]="fechaInicioPicker"
          />
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="fechaInicioPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #fechaInicioPicker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <!-- CONTROL DE FECHA DE FINALIZACION -->
    <div class="col-6">
      <div>
        <mat-form-field class="w-full">
          <mat-label>Fecha de Finalización</mat-label>
          <input
            [formControl]="fechaFinControl"
            matInput
            [matDatepicker]="fechaFinPicker"
          />
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="fechaFinPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #fechaFinPicker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div mat-dialog-actions>
      <button mat-button mat-dialog-close>Cancelar</button>
      <button (click)="guardar()" mat-button>Guardar</button>
    </div>
  </form>
</div>
